:root{
    --primary-color:#3f3939;
    --font-color:#aaaaaa;
    --font-hover:#ffffff;
}

*{
    margin: 0;
    padding: 0;
}



body{
    background-color: orange;
}

.container{
    background-color:var(--primary-color);
}
.tabs-all{
    display: flex;
    width: 75%;
    background-color:var(--primary-color);
    justify-content: space-evenly;
    margin: 0 auto;
    height:100px;
}

.tab:hover{
    color: var(--font-hover);
}

.tab{
    color:var(--font-color);
    text-align: center;
    cursor: pointer;
    margin-top: 25px;
}
